{% extends 'base.html.twig' %}

{% block title %}Statistiques des formulaires
{% endblock %}

{% block body %}

	<div class="container my-12 mx-auto px-4 md:px-6 lg:px-12">

		<section class="mb-20 text-gray-800">
			<div class="grid md:grid-cols-3 gap-4">
				<div class="mb-6 md:mb-0">
					<div class="block shadow-lg rounded-xl">
						<div class="flex justify-start items-center p-6 bg-white rounded-lg">
							<div class="bg-blue-900 text-white rounded-md flex justify-center items-center w-12 h-12">
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor" class="w-6 h-6">
									<path d="M19.5 21a3 3 0 003-3v-4.5a3 3 0 00-3-3h-15a3 3 0 00-3 3V18a3 3 0 003 3h15zM1.5 10.146V6a3 3 0 013-3h5.379a2.25 2.25 0 011.59.659l2.122 2.121c.14.141.331.22.53.22H19.5a3 3 0 013 3v1.146A4.483 4.483 0 0019.5 9h-15a4.483 4.483 0 00-3 1.146z"/>
								</svg>
							</div>
							<div class="ml-3">
								<p class="text-gray-500 mb-0.5">FORMULAIRES</p>
								<p class="mb-0 flex justify-start">
									<span class="text-xl font-semibold mr-3">{{nbFormulaire[0].nbForm}}</span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="mb-6 md:mb-0">
					<div class="block shadow-lg rounded-xl">
						<div class="flex justify-start items-center p-6 bg-white rounded-lg">
							<div class="bg-blue-900 text-white rounded-md flex justify-center items-center w-12 h-12">
								<svg aria-hidden="true" focusable="false" data-prefix="fas" class="w-5 h-5" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
									<path fill="currentColor" d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"></path>
								</svg>
							</div>
							<div class="ml-3">
								<p class="text-gray-500 mb-0.5">RÉPONSES</p>
								<p class="mb-0 flex justify-start">
									<span class="text-xl font-semibold mr-3">{{nbRenvoie[0].nbRenvoie}}</span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="mb-0">
					<div class="block shadow-lg rounded-xl">
						<div class="flex justify-start items-center p-6 bg-white rounded-lg">
							<div class="bg-blue-900 text-white rounded-md flex justify-center items-center w-12 h-12">
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor" class="w-6 h-6">
									<path d="M18.75 12.75h1.5a.75.75 0 000-1.5h-1.5a.75.75 0 000 1.5zM12 6a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 0112 6zM12 18a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 0112 18zM3.75 6.75h1.5a.75.75 0 100-1.5h-1.5a.75.75 0 000 1.5zM5.25 18.75h-1.5a.75.75 0 010-1.5h1.5a.75.75 0 010 1.5zM3 12a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 013 12zM9 3.75a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5zM12.75 12a2.25 2.25 0 114.5 0 2.25 2.25 0 01-4.5 0zM9 15.75a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5z"/>
								</svg>
							</div>
							<div class="ml-3">
								<p class="text-gray-500 mb-0.5">CHAMPS</p>
								<p class="mb-0 flex justify-start">
									<span class="text-xl font-semibold mr-3">{{nbChamps[0].nbChamps}}</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="flex flex-col">
			<div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
				<div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
					<div class="overflow-hidden rounded-lg shadow-lg">
						<table class="min-w-full">
							<thead class="bg-blue-900 border-b">
								<tr>
									<th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
										<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor" class="w-6 h-6">
											<path fill-rule="evenodd" d="M2.25 2.25a.75.75 0 000 1.5H3v10.5a3 3 0 003 3h1.21l-1.172 3.513a.75.75 0 001.424.474l.329-.987h8.418l.33.987a.75.75 0 001.422-.474l-1.17-3.513H18a3 3 0 003-3V3.75h.75a.75.75 0 000-1.5H2.25zm6.54 15h6.42l.5 1.5H8.29l.5-1.5zm8.085-8.995a.75.75 0 10-.75-1.299 12.81 12.81 0 00-3.558 3.05L11.03 8.47a.75.75 0 00-1.06 0l-3 3a.75.75 0 101.06 1.06l2.47-2.47 1.617 1.618a.75.75 0 001.146-.102 11.312 11.312 0 013.612-3.321z" clip-rule="evenodd"/>
										</svg>
									</th>
									<th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
										UTILISATEUR
									</th>
									<th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
										FORMULAIRE
									</th>
									<th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
										RÉPONSE
									</th>
								</tr>
							</thead>
							<tbody>

								{% set valeurUnique = 0 %}

								{% for informations in renvoie_saisie %}
									{% set valeurUnique = valeurUnique + 1 %}
									<tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
										<td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{valeurUnique}}</td>
										<td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
											{{informations.username}}
										</td>
										<td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
											{{informations.nom}}
										</td>
										<td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
											<button type="button" class="inline-block px-6 py-2.5 bg-blue-900 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" data-bs-toggle="modal" data-bs-target="#A{{valeurUnique}}">
												<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor" class="w-4 h-4">
													<path d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z"/>
													<path d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z"/>
												</svg>
											</button>
										</td>
									</tr>

									<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto" id="A{{valeurUnique}}" tabindex="-1" aria-labelledby="{{valeurUnique}}" aria-modal="true" role="dialog">
										<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable relative w-auto pointer-events-none">
											<div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
												<div class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
													<h5 class="text-xl font-medium leading-normal text-gray-800" id="A{{valeurUnique}}">
														Éléments de réponses
													</h5>
													<button type="button" class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body relative p-4">
													{% for informationsSaisieKeys in informations.0|keys %}
														<br>
														<h4 class="font-medium leading-tight text-2xl text-center mt-0 mb-2 text-blue-600">{{informationsSaisieKeys|upper|replace({'_': ' '})}}</h4>
														<br>
														<p class="text-center">{{ informations.0[informationsSaisieKeys] }}</p>
														<br>
													{% endfor %}
													{% if informations.piecejointe %}
														<a href="{{ asset('uploads/piecejointe/' ~ informations.piecejointe) }}">
															<button type="button" class="mb-2 w-full inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-normal uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
																Voir pièce jointe
															</button>
														</a>
													{% endif %}
												</div>
												<div class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
													<button type="button" class="inline-block px-6 py-2.5 bg-red-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out" data-bs-dismiss="modal">
														Fermer
													</button>
												</div>
											</div>
										</div>
									</div>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
